.outerdiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.logo {
    height: 15vw;
    margin: auto;
}

.text {
    font-size: 1.2em;
    max-width: 60vw;
    text-align: justify;
    text-indent: 30px;
}