.offcanvasbody{
    scrollbar-width: none;
}

.outerdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 90%;
    margin: auto;
}
.shop {
    font-size: 1.2em;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.spacer
{
    width: 100%;
}
.spacerinner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.spacerinner_two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;

    gap: 10px;
}
.logo 
{
    height: 40px;
}

.cartcontainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-content: center;
    justify-content: center;
}
.carttext{
    margin:auto;
}
.cartbutton
{
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    border-color: white;
}

.loginbutton
{
    min-width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.loginbutton:hover
{
    text-decoration: underline;
}

.navcontainer
{
    margin: 10px;
    display: flex ;
    flex-direction: row;
    gap: 10px;
}

.navcontainer a:hover
{
    text-decoration: underline;
}

.checkoutbutton
{
    width: 80%;
    margin: 10px;
}

.profilecontainer
{
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.profileimage
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.mobileLink {
   width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3em;
}

.mobileLink a {
    color: black;
    padding: 10px;
    display: flex;
    gap: 0.4em;
}
.mobileLink a:hover {
    text-decoration: underline;
}