.outerdiv {
    margin: auto;
    height: 100%;
    width: 100%;
    justify-items: flex-start;
    align-items: center;
    min-height: 80vh;
}

.logo {
    height: 15vw;
    margin: auto;
}

.text {
    font-size: 1.5em;
    max-width: 60vw;
    text-align: center;
}

.check{
    font-size: 4em;
    color: green;
}
.innerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .logo {
        height: 40vw;
    }
    .text {
        font-size: 1.2em;
        max-width: 90vw;
    }
    
}