@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    transition: box-shadow 0.3s ease;
    width: 20vw;
    height: 40vh;
    align-items: center;


}


.cardbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    transform: translateY(-4px);
    transition: box-shadow 0.5s ease;
    cursor: pointer;

}

.cardtitle {
    font-size: 1.2em;
    color: #333;
    font-family: 'Inter';
    font-weight: bolder;
}

.cardcontent {
    bottom: 0;
    font-size: 1.2em;
    font-family: 'Comfortaa', sans-serif;
    color: #333;
}

.cardimg {

    width: 10vw;
    height: 10vw;

}






@media screen and (max-width: 800px) {
    .card {
        width: 90vw;
    }

    .cardimg {
        width: 20vw;
        height: 20vw;
    }

    .cardcontent {
        font-size: 1.5em;
    }

    .cardContainer {
        border: 3px solid #e4d2d2;
        padding: 1.5em;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 10px #e4d2d2;
    }

}