.outterdiv{
    /* background-color: #00000055; */
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    padding: 0 10%;
    bottom: 0   ;
}

@media screen and (max-width: 768px) {
    .outterdiv {
        flex-direction: column;
        align-items: center;
        height: 7em;
    }
    .placeholder {
        height: 10em;
    }
    
}


.divmiddle
{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
}
.divmiddle p{
    margin: auto;
}



.divleft{
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    align-items: bottom;
    justify-items: bottom;
}

.link{
    padding: 5px;
    color: white;
    font-size: 1.2em;
}

.divrightinner{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10px;
}
.divrightinner a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}